*.so
quick_test
*.sublime-workspace
*.pyc
*.o
doc/_build
dox/html
dox/xml

CMakeCache.txt

CMakeFiles

build.ninja

cmake_install.cmake

.ninja_log

.ninja_deps

/tmp/

/main_test

rules.ninja

Makefile

*.a

/build*/

/.DS_Store

.DS_Store

ide/Scheme.xcodeproj/project.xcworkspace

*~
._*

.idea

quick_test_libscheme.log

